html {
    font-size: clamp(14px, 1.2vw, 18px);
  }
  
  body {
    font-size: 1.2em;
    line-height: 1.6;
  }

.resized-photo {
  width: 300px; /* or any desired size */
  height: auto; /* Maintain aspect ratio */
}
